@import "../../stylesheets/variables.scss";

.blog-post-five-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.blog-post-five-half {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 24px;
}

.blog-post-five-image-large {
  width: 40%;
  margin-right: 24px;
  object-fit: scale-down;
}

.blog-post-five-half-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0px 24px;
}

.blog-post-five-logo {
  width: 50%;
}

.blog-post-five-bordered-text {
  border: 8px solid black;
  padding: 24px;
  width: 50%;
  margin-top: 24px;
  text-align: justify;
  a {
    color: black;
  }
}

.blog-post-five-text {
  text-align: justify;
  font-weight: bold;
  font-size: 24px;
  width: 60%;
  margin: 48px 0px;
  // padding: 48px;
}

.blog-post-five-image-small-container {
  display: flex;

}

.blog-post-five-image-small {
  width: 50%;
}


@media screen and (max-width: $tablet-l) {
  .blog-post-five-container {
    width: 100%;
  }

  .blog-post-five-half {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog-post-five-image-large {
    width: 100%;
    margin-right: 0px;
  }

  .blog-post-five-half-right {
    width: 100%;
  }

  .blog-post-five-bordered-text {
    border: 8px solid black;
    padding: 8px;
    width: 90%;
  }

  .blog-post-five-text {
    font-size: 16px;
    width: 90%;
  }

  .blog-post-five-image-small-container {
    flex-direction: column;
    align-items: center;
  }

  .blog-post-five-image-small {
    width: 100%;
  }

}
