.separator-container {
  height: 16px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.separator {
  border: 6px solid #EE1566;
  height: 0px;
  width: 96px;
}
