.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.born-out-of-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.how-we-do-it-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.how-we-do-it-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.how-we-do-it-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}


.case-studies-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.references-container {
  display: flex;
  justify-content: center;
  width: 90%;
}
