@import "../../stylesheets/variables.scss";


.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-inner {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: $tablet-l) {
  .gallery-inner {
    width: 100%;
  }
  .gallery-text {
    width: 90%;
  }
}

.gallery-logo {
  height: 60px;
  margin: 24px 0px;
}

.gallery-video {
  height: 575px;
}



.gallery-link {
  transition: 0.5s;
  padding: 8px;
  border: 4px solid black;
  margin-top: 24px;
  a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
    font-weight: bold;

  }
}


.gallery-link:hover {
  background-color: black;

  a {
    color: white;
  }
}





// .gallery-text {
//   text-align: justify;
//   border: 8px solid black;
//   margin-bottom: 16px;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
//   p {
//     margin: 16px;
//   }
//   .white-bit {
//     border: 4px solid white;
//     bottom: -8px;
//     position: absolute;
//     width: 90%;
//   }
// }
