@import "../../stylesheets/variables.scss";

// .foreground-video {
//   height: 100vh;
// }

@media screen and (min-width: $laptop) {
  .hundredvh {
    height: 100vh;
  }

  .hundredwidth {
    width: 100%;
  }
}


@media screen and (max-width: $tablet-l) {
  .hundredvh {
    width: 100%;
  }

  .hundredwidth {
    width: 100%;
  }
}
