@import "../../stylesheets/variables.scss";


.blog-post-four-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.blog-post-four-halves {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.blog-post-four-image-mid {
  width: 45%;

}

.blog-post-four-small-image-container {
  width: 100%;
  // height: 200px;
  display: flex;
}

.blog-post-four-image-small {
  // width: 45%;
  height: 100%;
}

.blog-post-four-text {
  width: 45%;
  font-weight: bold;
  font-size: 30px;
  text-align: justify;
}

.blog-post-four-bordered-text {
  width: 45%;
  border: 8px solid black;
  border: 8px solid black;
  padding: 24px;
  text-align: justify;
  // margin-top: 24px;
}


@media screen and (max-width: $tablet-l) {
  .blog-post-four-container {
    width: 100%;
  }

}
