@import "../../stylesheets/variables.scss";

.hwdi-inner {
  flex-basis: calc(50% - 48px);
  margin-right: 48px;
  // height: 100vh;
}

@media screen and (max-width: $tablet-l) {
  .hwdi-inner {
    margin-right: 0px;
  }
}

.hwdi-item-container {
  margin: 40px 0px;
}

.hwdi-item-top {
  display: flex;
  align-items: center;
}

@media screen and (max-width: $tablet-l) {
  .hwdi-item-top {
    margin: 12px 0px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.hwdi-item-id {
  width: 48px;
  height: 48px;
  border: 6px solid #2F2E2E;
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    margin: 0px;
    font-size: 24px;
  }
}


.hwdi-item-title {
  margin-left: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  h4,h6 {
    margin: 0px;
  }
}

@media screen and (max-width: $tablet-l) {
  .hwdi-item-title {
    align-items: center;
    margin: 0px;
    h4 {
      font-size: 16px;
    }
  }
}

.hwdi-item-text {
  text-align: justify;
}
