@import "../../stylesheets/variables.scss";

.contact-outer {
  display: flex;
  width: 90%;
}

.contact-image {
  height: 294px;
}

.contact-box {
  height: 294px;
  // border: 8px solid #2F2E2E;
  border: 8px solid black;
  // background-color: #5E5E5E;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 24px;
}

.contact-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-btn {
  border: 4px solid black;
  background-color: white;
  // border-radius: 8px;
  font-size: 24px;
  min-width: 100px;
  padding: 16px 32px;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

.contact-btn:hover {
  background-color: black;
  color: white;
}

.contact-mid {
  display: flex;
  text-align: right;
  p {
    color: white;
    margin: 0px;
  }
}

.contact-bottom {
  display: flex;
  justify-content: space-between;
}

.contact-bottom-left {
  display: flex;
  .social-media-link {
    height: 24px;
    margin: 8px;
  }
}

.contact-bottom-right {
  text-align: right;
  p {
    color: white;
    margin: 0px;
  }
}


@media screen and (max-width: $tablet-l) {
  .contact-outer {
    flex-direction: column;
  }
  .contact-image {
    width: 100%;
    height: auto;
  }
  .contact-box {
    height: auto;
  }
  .contact-mid {
    margin: 16px 0px;
  }
  .contact-bottom {
    flex-direction: column;
  }
}
