@import "../../stylesheets/variables.scss";

.blog-back-btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 64px;
  // position: relative;

}


@media screen and (max-width: $tablet-l) {

  .blog-back-btn-container {
    width: 90%;
  }
}
