.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  label {
    color: white;
    margin: 8px 0px;
  }
  .contact-form-text-input {
    width: 100%;
  }
  .message-box {
    height: 120px;
  }
}

.contact-form-btn {
  margin: 16px 0px;
  padding: 8px 16px;
}
