@import "../../stylesheets/variables.scss";

.wwd-inner {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

@media screen and (max-width: $tablet-l) {
  .wwd-inner {
    width: 95%;
  }
}

.wwd-title {
  display: flex;
  justify-content: flex-end;
  h1 {
    font-size: 64px;
    margin: 0px;
  }
}

.wwd-item-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}

@media screen and (max-width: $tablet-l) {
  .wwd-item-list {
    flex-wrap: wrap;
  }
}

.wwd-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wwd-item-image {
  height: 62px;
  // width: 62px;
}


.wwd-diagram-container {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wwd-diagram {
  // width: 736px;
  width: 60%;
}

@media screen and (max-width: $tablet-l) {
  .wwd-diagram {
    width: 95%;
  }
}
