.references-inner {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 48px 0px;
}

.reference {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 16px 0px;
}
